#f, #s {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
  margin: 3px;
}

#f {
  background-color: aqua;
}

#s {
  background-color: aquamarine;
}

@media only screen and (max-width: 400px) {
  #f {
    background-color: azure;
  }
}