@media only screen and (max-width: 768px) {
  .year_hide {
    display: none;
  }
}

@media only screen and (max-width: 665px) {
  .major_hide {
    display: none;
  }
}

@media only screen and (max-width: 545px) {
  .email_hide {
    display: none;
  }
}